/*
 |--------------------------------------------------------------------------
 | TailwindCSS Directives
 |--------------------------------------------------------------------------
 |
 | Import TailwindCSS directives and swipe out at build-time with all of
 | the styles it generates based on your configured design system.
 |
 | Please check this link for more details:
 | https://tailwindcss.com/docs/installation#include-tailwind-in-your-css
 |
 */
@import "./_tailwind.css";

/*
   |--------------------------------------------------------------------------
   | Fonts
   |--------------------------------------------------------------------------
   |
   | Import all fonts used in the template, the font configuration can be
   | seen in "tailwind.config.js".
   |
   | Please check this link for more details:
   | https://tailwindcss.com/docs/theme
   |
   */
@import "./_roboto.css";

/*
   |--------------------------------------------------------------------------
   | 3rd Party Libraries
   |--------------------------------------------------------------------------
   |
   | Import 3rd party library CSS files.
   |
   */
@import "simplebar/src/simplebar.css";
@import "dropzone/dist/dropzone.css";
@import "tabulator-tables/dist/css/tabulator.css";
@import "tom-select/dist/css/tom-select.css";
@import "zoom-vanilla.js/dist/zoom.css";
@import "toastify-js/src/toastify.css";
@import "highlight.js/styles/github.css";
@import "tippy.js/dist/tippy.css";
@import "tippy.js/themes/light.css";
@import "tippy.js/dist/svg-arrow.css";
@import "tippy.js/animations/shift-away.css";
@import "tiny-slider/dist/tiny-slider.css";
@import "leaflet/dist/leaflet.css";
@import "leaflet.markercluster/dist/MarkerCluster.css";

/*
   |--------------------------------------------------------------------------
   | Components
   |--------------------------------------------------------------------------
   |
   | Import CSS components.
   |
   */
@import "./components/_global.css";
@import "./components/_intro.css";
@import "./components/_zoom-in.css";
@import "./components/_image-fit.css";
@import "./components/_typing-dots.css";
@import "./components/_scrollbar-hidden.css";
@import "./components/_box.css";
@import "./components/_tiny-slider.css";
@import "./components/_tippy.css";
@import "./components/_toastify.css";
@import "./components/_zoom-vanilla.css";
@import "./components/_tom-select.css";
@import "./components/_ckeditor.css";
@import "./components/_litepicker.css";
@import "./components/_full-calendar.css";
@import "./components/_tabulator.css";


 body {
  overflow: hidden;
}

nav::-webkit-scrollbar {
  visibility: hidden;
  width: 0px;
  display: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


/**** START Shipment scan *****/
.animationBox {
	top: 26px;
	display: block;
	height: auto;
	animation: runn 4s infinite linear;
	animation-name: runn;
	width: 40px;
	z-index: 2;
	position: absolute;
}

@keyframes runn {
   0% {
  right: -26%;
  top: 1px;

}

  60% {
filter: hue-rotate(53deg) brightness(.8);
 

}
100% {
filter: hue-rotate(53deg) brightness(.8);
  right: 110%;
  top: 7px;

}


	
}


.scanBoxInput::before {
	content: '';
	z-index: 0;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(0deg);
	position: absolute;
	width: 99999px;
	height: 99999px;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-image: conic-gradient(rgba(0,0,0,0), #ffc20a, rgba(255, 228, 11, 0) 25%) !important;
	animation: rotate 4s linear infinite;
}
.labelMargin label {
	margin: 0px;
}
.airbillTbale tr:hover td {
	background: #fffdf4;
}
/**** END Shipment scan *****/



/*** start new ui design ********/
.commonGradient {
	background-image: linear-gradient(to right, #ffe6b2, #fff5d9, #fffbf2);
}
.commonGradientGray {
	background-image: linear-gradient(to right, #e1e5e9, #f4f4f4, #f0f0f0);
}

.searchawbno {
	background-image: linear-gradient(to right top, #fff, #fff, #f6f6f6, #fff, #fff9e8);
}

.rangeinput input[type="range"]::-moz-range-progress {
	background: #EFB847 !important;
}


.awbsearchbg {
	background-image: linear-gradient(to right top, #fff8e5, #fff, #fffbf2, #fff, #fff);
}


.commonGradient{
overflow: hidden;	position: relative;

}
.commonGradient::before {
	position: absolute;
	background: url("https://i.makeagif.com/media/2-02-2018/U1FXOQ.gif") no-repeat;
	width: 400px;
	height: 300px;
	content: "";
	top: -20px;
	left: 0;
	filter: hue-rotate(873deg) saturate(12) sepia(.6) contrast(1);
	opacity: .8;
	z-index: 0;
}
.commonGradient::after {
	position: absolute;
	background: #fff2d1;
	width: 230px;
	height: 300px;
	content: "";
	top: -20px;
	left: 220px;
	filter: blur(4px);
}


.commonGradient > div{
position: relative;
  z-index: 1;
}
@media (max-width: 767px) {
body {
	overflow: initial !important;
}

[type="date"] {
	padding-left: 5px !important;
	font-size: 13px !important;
	padding-right: 5px !important;
}

}